.css-bhp9pd-MuiPaper-root-MuiCard-root {
  box-shadow : none !important;
}

/* .img {
  background-image: url(./images/backgroundimg.avif);
  background-size: cover;
  height: 100vh;
  padding : 0 !important;
  margin: 0 !important;
} */

